.green {
    color: #77B255;
}

.red {
    color: #e1483b;
}

[data-md-color-scheme="default"] .md-typeset__table tbody {
    background: #f2f2f2;
}

[data-md-color-scheme="slate"] .md-typeset__table tbody {
    background: #0d1216;
}

[data-md-color-scheme="default"] .md-footer {
    background: #122127;
}

[data-md-color-scheme="slate"] .md-footer {
    background: #0d1216;
}

[data-md-color-scheme="default"] .md-footer-meta {
    background: #202f37;
}

[data-md-color-scheme="slate"] .md-footer-meta {
    background: #202f37;
}

[data-md-color-scheme="slate"] .md-top {
    background: #0d1216;
}

[data-md-color-scheme="slate"] .md-select__link {
    background: #182d34;
}

/*[data-md-color-scheme="default"] .md-typeset a {*/
/*    color: #e1483b;*/
/*}*/

/*[data-md-color-scheme="slate"] .md-typeset a {*/
/*    color: #e1483b;*/
/*}*/

/*[data-md-color-scheme="slate"] .md-typeset__table tr:nth-child(2n) {*/
/*    background: #0d1216;*/
/*}*/

.md-typeset__table {
    min-width: 100%;
}

.md-typeset table:not([class]) {
    display: table;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    width: 2.4rem;
}

td > img {
    min-width: unset !important;
}

.md-typeset img, .md-typeset svg {
    min-width: 100%;
}

[data-md-color-scheme="default"] {
    --md-default-bg-color: #E6EBED;
    --md-primary-fg-color: #182d34;
    --md-accent-fg-color: #e1483b;
    --md-typeset-a-color: #e1483b;
    --md-code-bg-color: #f2f2f2;
}

[data-md-color-scheme="slate"] {
    --md-default-bg-color: #172127;
    --md-primary-fg-color: #0d1216;
    --md-accent-fg-color: #e1483b;
    --md-typeset-a-color: #e1483b;
    --md-code-bg-color: #0d1216;
}
